body{
    background-color: rgb(237, 240, 250);
}

h1{
    text-align: center;
}

.car-sales-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    height: 400px;
  }
  
  .car-card {

    margin-bottom: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em;
    text-align: center;

    width: 400px;
  }
  
  .car-card img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  